{% extends 'base/base.html' %}

{% block title %}Register admin {% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3" style="background-color: rgba(0.3, 0.4, 0.3, 0.2); padding: 20px;">
            <marquee behavior="" direction="">
              <h1 class="text-white">Admin Registration</h1>
            </marquee>
            <form action="" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input style="border-radius: 2rem;" type="email" class="form-control" id="email" name="email">
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input style="border-radius: 2rem;" type="text" class="form-control" id="username" name="username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input style="border-radius: 2rem;" type="password" class="form-control" id="password" name="password">
              </div>
              <div class="mb-3">
                <label for="passwordConfirm" class="form-label">Confirm Password</label>
                <input style="border-radius: 2rem;" type="password" class="form-control" id="passwordConfirm" name="password1">
              </div>
              <button type="submit" class="btn btn-primary text-center">Register</button>
            </form>
            <div class="container">
              <div class="row">
                <div class="col">
                  {% for message in messages %}
                  <div class="card">
                    {{ message }}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}