{% extends 'base/base.html' %}

{% block content %}
<br><br>
{% load static %}

<div class="container">
    <br>
    <h5>
        The following ABADU Program Areas encapsulate the vision and mission of ABADU and are in alignment with the objectives of the organization.
    </h5>
    <br>
    <p style="color: darkblue;">
        The ABADU Program Areas are defined as follows:
    </p>
    <ul>
        <li>
            Education & Professional Advancement
        </li>
        <li>
            Health & Wellness
        </li>
        <li>
            Public Works & Infrastructural Development
        </li>
        <li>
            Humanitarian Services & Disaster Relief
        </li>
        <li>
            Youth Affairs & Recreational Activities
        </li>
        <li>
            Art, Culture & Tourism
        </li>
    </ul>
    <p>
        To facilitate the work of the Organization and enhance effectiveness, the following Standing Committees have been created that serve as deliberative, consultative, and advisory bodies to aid the Executive Committee in the completion of its tasks in the different program areas
    </p>
    <br>
    <ol>
        <li>Education & Professional Advancement</li>
        <li>Health & Wellness</li>
        <li>Public Works & Infrastructural Development</li>
        <li>Youth Affairs & Recreational Activities</li>
        <li>Humanitarian Services & Disaster Relief</li>
        <li>Art, Culture & Tourism</li>
        <li>Finance & Resource Mobilization</li>
        <li>Audit & Compliance</li>
    </ol>
    <br>
    <p>
        Each of the above Program Areas has a corresponding Committee, whose responsibilities may include to execute, propose, deliberate, consult and/or advice on activities or projects within the given area. 
    </p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-title text-center bg-info">
                        EDUCATION & PROFESSIONAL DEVELOPMENT
                    </div>
                    <div class="card-body">
                        <p><b>Problem:</b></p>
                        <ul>
                            <li>A large number of Abassakom children lack the basic needs required for a successful learning experience at all levels of education.

                                The lack of financial resources prevents some of our most talented young men and women from pursuing higher education and other advanced professional opportunities
                                
                                It is also evident that schools in remote rural communities are mostly underserved and understaffed, lack the infrastructure and basic material needed for an effective and rewarding teaching/learning process.</li>
                        </ul>
                        <p><b>Plan:</b></p>
                        <ul>
                            <li style="color: rgb(8, 1, 1);">
                                Establish an Annual Education Fund In a bid to contribute towards development of human resource and empowerment through education, we intend to invest 5,000,000 frs annually in programs that support the education sector. Programs may include direct support to pupils and students through provision of fee subsidies and basic materials (books, pens, pencils, etc) direct support to schools through provision of didactic materials and other equipment Scholarships to students towards higher education Recognitions and awards to high achieving students, high performing teachers and schools across Abassakom to encourage excellence in quality and standards of teaching/learning Create and/or support vocational and skills-based training programs that can lead to independent professionals.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-title text-center bg-info">
                        HEALTH & WELLNESS
                    </div>
                    <div class="card-body">
                        <p><b>Problem:</b></p>
                        <ul>
                            <li>
                                A huge percentage of rural areas in Abassakom do not have access to quality medical services. A majority of our hospitals, health centers or clinics in rural areas are not only understaffed, they are also poorly equipped.

                                Some Health centers lack basic requirements as beds, beddings, stretchers, wheelchairs, as well as the more scientific needs such as microscopes and other laboratory needs of simple standard.

                                Patients lack access to standard pain/fever medication such aspirin, paracetamol, Tylenol, etc, as well as other basic first-aid and quick-response items.

                                Many are still not fully aware of the dangers of HIV/AIDS, COVID and other infectious diseases, and do not have access to the information necessary to deal with the threats of these diseases

                            </li>
                        </ul>
                        <p><b>Plan:</b></p>
                        <ul>
                            <li style="color: rgb(8, 1, 1);">
                                Establish an Annual Healthcare Fund 

                                ABADU will work with and through health institutions in Abassakom to improve on healthcare delivery. A healthcare fund, will: 
                             </li>
                             <ol>
                                <li>
                                    enable ABADU to support underserved and poorly equipped health centers by providing equipment and needs such as beds, beddings, wheelchairs, etc.
                                </li>
                                <li>
                                    Allow ABADU enhance access some basic needs such as pain medication, reading glasses, bandages, etc
                                </li>
                                <li>
                                    Enable ABADU to support health education programs that raise awareness (especially in remote areas) about various health challenges and provide guidance and help as appropriate (Health fares, free clinics, sensitization campaigns, etc)
                                </li>
                                <li>
                                    Enhance access to some specialized training programs such as Cardiopulmonary Resuscitation (CPR), which could save a live in cases of emergency
                                </li>
                             </ol>
                        </ul>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-title text-center bg-info">
                        PUBLIC WORKS & INFRASTRUCTURAL DEVELOPMENT (PWID)
                    </div>
                    <div class="card-body">
                        <p><b>Problem:</b></p>
                        <ul>
                            <li>
                                Most VDUs and ABADU Branches have community development projects (e.g. clean tap water, Community Halls, etc). These projects sometimes last too long or fail to reach completion even after many years of hard work due to lack of resources or slow rate of accumulation of resources.
                                In this era of technological advancement that affects every aspect of life, with the lack of finances to purchase text books being a major hindrance to good learning, and considering the general need to encourage and support informal education and scholarliness, the absence of public libraries and computer centers in Abassakom is of great concern.
                                The list and scope of problems in the area of community and infrastructural development is inexhaustible.
                            </li>
                        </ul>
                        <p><b>Plan:</b></p>
                        <ul>
                            <li style="color: rgb(8, 1, 1);">
                                Establish a CID Fund - 10 million FCFA
                                Work with Village Development Unions (VDUs) to identify and fund or partially fund projects of general public interest. Such projects may include village water projects, classrooms in schools, libraries, computer centers, public restrooms, etc
                             </li>
                             <li>
                                Support, in some cases, may focus on using paid professionals and experts to gather the necessary information and write fundable grant applications targeting relevant national and international funding agencies.
                             </li>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-title text-center bg-info">
                        SPORTS & RECREATIONAL ACTIVITIES
                    </div>
                    <div class="card-body">
                        <p><b>Problem:</b></p>
                        <ul>
                            <li>
                                there is no incentive encouraging Kom sons and daughters to take advantage of the outstanding topography to rise and become veritable track and field and marathon runners like Kenyans who have taken advantage of their surroundings.
                                Beyond this, Absassakom has excelled in team sports in the past with football teams like ABADU strikers. Abassakom boasts several young persons that could excel in team sports of all kinds and it important that while we encourage and support educations of all our children, we also identify and support those who can excel in various non-academic activities. ABADU can look forward to sponsoring and/or supporting a football team again in the future to expose the many talented footballers that exist across Abassakom.
                                Support or facilitate access to other sports-related training programs such as coaching, refereeing, etc
                            </li>
                        </ul>
                        <p><b>Plan:</b></p>
                        <ul>
                            <li style="color: rgb(8, 1, 1);">
                                Establish a 2,000,000 frs fund to support sporting activities (recreational & competitive) that identify and expose talented Abassakom youth to other opportunities. This may be achieved by organizing ABADU sporting events (football tournaments, marathons, etc) either directly or by supporting smaller-scale events organized by Branches and VDUs.
                             </li>
                        </ul>
                    </div>
                </div> 
            </div>
            <br><br><br>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-title text-center bg-info">
                        HUMANITARIAN AID & DISASTER RELIEF
                    </div>
                    <div class="card-body">
                        
                        <ul>
                            <li>
                                While the current and ongoing crisis in the region has brought to the lime light the humanitarian needs of our people, these needs have always existed and are worthy of consideration in ABADU programing. In addition to the needs arising from man-made crises, natural disasters such as landslides, heavy wins and others have affected our people in the past. Sometimes the devastations that this cause to some of our communities necessitate public support, and ABADU can help in some instances to provide help and relief.
                            </li>
                        </ul>
                        <p><b>Plan:</b></p>
                        <ul>
                            <li style="color: rgb(8, 1, 1);">
                                Establish a Humanitarian Aid & Disaster Relief Fund to provide help in times of emergencies or when appropriate.
                             </li>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-title text-center bg-info">
                        ART, CULTURE & TOURISM (ACT)
                    </div>
                    <div class="card-body">
                        
                        <ul>
                            <li>
                                Important aspects of the rich Kom culture are beginning to fade out

                                Talent in art and craftsmanship is not being rewarded or promoted, especially for tourism purposes

                                Abassakom has a rich collection of touristic sites that are not being exploited for the benefit of the people and the region

                                At this pace, future generations will miss out on an essential part of our culture that defines us as a people, while the potential for tourism will be completely lost.
                            </li>
                        </ul>
                        <p><b>Plan:</b></p>
                        <ul>
                            <li style="color: rgb(8, 1, 1);">
                                Establish an Art, Culture & Tourism Program

                                2,000,000 FCFA committed to an annual Art & Cultural Festival in Fundong

                                Support Research to gather information and create a database of touristic sites in Abassakom

                                Eventually set up a properly conceived Abassakom Tourism Program
                             </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<!-- Add Bootstrap JS for scrolling effect -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
{% endblock %}