{% extends 'base/base.html' %}

{% block content %}
<br><br>
{% load static %}
<style>
    .ripple {
        position: relative;
        overflow: hidden;
    }

    .ripple-effect:after {
        animation: rippleAnimation ease-in 1s;
    }


    .bounce {
        animation: bounceAnimation ease-out 0.3s;
    }

    @keyframes bounceAnimation {
        0% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(40);
        }

        75% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(0);
        }
    }

    #first-block {

    }

    #first-block.animated {
        color: black;
        opacity: 1;
    }
</style>

<div class="container"><br><br><br><br><br>
    <div class="row">
        <div class="col-md-6 active ripple bounce" id="first-block">
            <h1 class="" style="color:rgb(18, 215, 205);">About us</h1>
            <p style="position: relative; z-index: 1;">ABADU (ABASSAKOM DEVELOPMENT UNION) is a political, secular, non-confessional organization with the following objectives:</p>
            <ol style="position: relative; z-index: 1;">
                <li>To foster the socio-economic and cultural development of Fundong sub-division.</li>
                <li>To cooperate with the administration in promoting all initiatives that are legally recognized for the development of Fundong sub-division.</li>
                <li>To educate Abassakom masses in collaboration with the village development union on all socio-cultural and economic practices that are likely to improve the standards of living of Abassakom people.</li>
            </ol>
        </div>
        <div class="col-md-6 bounce" id="second-block">
            <ol>
                <li>To provide a forum for the come-together of all schools of thoughts of Abassakom in Fundong sub-division.</li>
                <li>To act as an advocate for all village development unions in Abassakom wherever and whenever need arises.</li>
                <li>To act as an umbrella organization over all village development unions with the acronym VDUs within her area of jurisdiction.</li>
            </ol>
            <p>The Association is open to affiliating to other Associations with the same objectives when needs arise. ABADU seeks financial or material assistance when needs arise from government and non-governmental organizations within and outside Cameroon to facilitate its developmental projects.</p>
            <p>ABADU has its head office at Fundong town which is the headquarters of both Fundong sub-division and BOYO Division. The area of jurisdiction of ABADU is Fundong sub-division also referred to as Home zone and her external branches all over the Republic of Cameroon and abroad provided that her developmental projects shall all be based at the Home zone area (Abassakom).</p>
        </div>
    </div><br><br>
    <button style=" border-radius: 3rem;" class="btn btn-info btn-button"><a style="text-decoration: none;color: white;" href="{% url 'base' %}">Go Back To Home </a></button>
</div>

<!-- Add Bootstrap JS for scrolling effect -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#first-block').addClass('animated').addClass('ripple-effect');
        }, 2000);

        $(window).scroll(function() {
            $('.bounce').each(function(i) {
                var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                if (bottom_of_window > bottom_of_object) {
                    $(this).addClass('animated bounceIn');
                }
            });
        });
    });
</script>
{% endblock %}