{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <style>
        #logo {
            padding: 0 5px;
        }
        .navbar-nav .nav-link:hover {
            background-color: #f7f8f8;
        }
    </style>
    <!-- css link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- bootstrap css  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="container-fluid bg-info ">
            <div class="row justify-content-center">
                <div class="col">
                    <nav class="navbar navbar-expand-md navbar-dark text-black my-4">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="col-6">
                            <div class="container text-black"><br>
                                <marquee behavior="" direction="right">
                                    <p style="text-align: center; color: black;">Moto: Unity,Self-Reliance and Progress</p>
                                </marquee>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav " style="font-family: sans-serif;" >
                                <li class="nav-item">
                                    <a class="nav-link " style="color: black;" href="{% url 'base' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: black;" href="{% url 'about' %}">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: black;" href="{% url 'actionplan' %}">Action plan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: black;"  href="{% url 'gallery' %}">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: black;" href="">Partnership</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: black;" href="{% url 'donation' %}">Donate</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: black;" href="">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: black;" href="">News</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <br><br><br>
        <footer>
            <footer class="bg-dark text-white py-3 ">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">

                      <div class="col active ripple bounce" id="first-block">
                        <h1 class="" style="color:rgb(18, 215, 205);">About us</h1>
                        <p style="position: relative; z-index: 1;">ABADU (ABASSAKOM DEVELOPMENT UNION) is a political, secular, non-confessional organization with the following objectives:</p>
                      
                            <p>To foster the socio-economic and cultural development of Fundong sub-division.</p>
                            <p>To cooperate with the administration in promoting all initiatives that are legally recognized for the development of Fundong sub-division.</p>
     
                    </div>
                    </div>
                    <div class="col-md-6">
                        
                        <h5><a style="text-decoration: none; color: rgb(18, 215, 205);" href="{% url 'about' %}">About</a></h5>
                        <br><p>To educate Abassakom masses in collaboration with the village development union on all socio-cultural and economic practices that are likely to improve the standards of living of Abassakom people.</p><br>
                        <h5>Contact Us</h5>
                        <p>Email: info@abadu.com</p>
                        <p>Phone: + (237) 6-51-21-10-00</p>
                        <button  class="btn btn-button bg-info" style="border-radius: 3rem;"><a style="text-decoration: none; color:white;" href="{% url 'signin' %}"> Admin SignIn</a></button>
  
                        
                    </div>
                    <div class="col-md-12 text-center">
                      <p>&copy; 2023 ABADU. All rights reserved.</p>
                    </div>
                  </div>
                </div>
              </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>