#nav a {
    text-decoration: none;
    color: white;
}
#title a {
    text-decoration: none;
    color: white;
}
#logo img{
    border-radius: 50%;
    width: 4%;
}
.signup a{
    text-decoration: none;
    color: black;
}
.navbar-nav .nav-link:hover {
    border-radius: 3rem;

}


