{% extends 'base/base.html' %}

{% block title %}Landing page{% endblock %}

{% block content %}
{% load static %}
<br><br>
<section>
    <br>
    <div class="container text-center" style="margin-top: 6rem;"><br>
        <div class="container"><br>
            <div class="row justify-content-center align-items-center"><br>
                <!-- add column for button and text block -->
                <div class="col"><br>
                    <div class="card-1 "><br>
                        <div>
                            <h2 style="color: rgb(23, 22, 22);"><strong>TOGETHER LETS BUILD OUR COMMUNITY</strong></h2>
                            <br>
                            <div class="row">
                                <div class="col-md-4 my-5">
                                    <div class="image">
                                        <div class="card">
                                            <div class="card-title bg-info">
                                                <h4 class="display-6">Mr Abadu</h4>
                                            
                                            </div>
                                            <div class="card-body " >
                                                <img style="width: 100%; border-radius: 50%;" src="static/images/larm-rmah-AEaTUnvneik-unsplash.jpg"  alt="Mr Abadu">
                                            <hr>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, earum praesentium. Unde!</p>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="col-md-4 my-5 ">
                                    <div class="image">
                                        <div class="card">
                                            <div class="card-title bg-info">
                                                <h4 class="display-6">Mr Timothy</h4>
                                            
                                            </div>
                                            <div class="card-body img-thumbnail" >
                                                <img style="width: 100%; border-radius: 50%;" src="static/images/larm-rmah-AEaTUnvneik-unsplash.jpg"  alt="Mr Abadu">
                                                <hr>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam maxime nemo aliquid!</p>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="col-md-4 my-5 ">
                                    <div class="image">
                                        <div class="card">
                                            <div class="card-title bg-info">
                                                <h4 class="display-6">Mr Jecob</h4>
                                            
                                            </div>
                                            <div class="card-body " >
                                                <img style="width: 100%; border-radius: 50%;" src="static/images/larm-rmah-AEaTUnvneik-unsplash.jpg"  alt="Mr Abadu">
                                            </div><hr>
                                            
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id corporis dolorum omnis eaque?</p>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            
                            <marquee behavior="" direction="">
                                <h5 style="color:black;" class="display5">welcome to ABASSAKOM association of developement union(ABADU)</h5>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>

{% endblock %}